target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

notification-core/src/main/java/com/yqg/notification/core/model/generated

### maven
/pom.xml.versionsBackup
/**/*/pom.xml.versionsBackup

logs
